/* @font-face {
  font-family: "Exo2.0";
  src: url('../fonts/Exo2.0-Thin.otf');
} */

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #cacaca;
    background-image: url('../img/Pattern.png');
    background-size: cover;
  }

.header {
  /* font-family: "Exo2.0"; */
  font-size: 2.25em;
  color: #fff;
  text-align: center;
  filter: drop-shadow(0px 1px 0.5px #000000);
  padding-top: 6.9vh
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: auto;
  align-self: center;
}

.card {
  box-sizing: border-box;
  border: .25em solid #249CCE;
  inline-size: 22.22vw;
  block-size: 60.53vh;
  background-color: #fff;
  overflow: hidden;
}

.card.disabled {
  filter: contrast(25%);
  border-color: #7c7c7c;
}

.card_textbox {
  display: flex;
  flex-direction: column;
  padding-left: 3.19vw;
  padding-top: 2.5vh;
}

.card_description {
  color: #666666;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.card_portions, .card_mice {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: bold;
  color: #666666;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.cat {
  z-index: 50;
  position: relative;
  top: 5.5vh;
  right: 1.75vw;
}

.card.disabled .cat {
  top: 3.3vh;
}

.card_weight {
  border-radius: 50%;
  color: #fff;
  position: relative;
  bottom: 20.6vh;
  left: 15.2vw;
  z-index: 900;
  inline-size: 5rem;
  block-size: 5rem;
  text-align: center;
}

.card_weight__number, .card_weight__kilo {
  position: relative;
  top: 20px;
}

.card_weight {
  background-color: #249CCE
}

.card:hover {
  cursor: pointer;
  border-color: #32A8E8
}

.card:hover .card_weight{
  background-color: #32A8E8;
}

.card.selected, .card.selected.card_weight {
  border-color: #D9196B;
}

.card.selected .card_weight {
  background-color: #D9196B;
}

.card_name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

.card_name__flavour {
  font-size: 1.5rem;
}